* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Write CSS code below */
.main-content {
    display: grid;
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    grid-template-columns: 300px 700px;
    
}

.left-section {
    grid-column: span 1;
    background-color: rgba(4, 233, 126, 0.74);
}

.right-section {
    grid-column: span 1 / span 2;
    background-color: azure;
}

.left-content {
    padding: 1rem;
}

.name {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02px;
    padding: 0.8rem;
    color: #f7f7f7;
}

.designation {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    color: #0316149b;
}

.description {
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
    color: #f7f7f7;
}

.right-main-content {
    padding: 2rem 3rem;
}

.profile-image {
    display: block;
    margin: auto;
    border: 5px solid white;
    border-radius: 30%;
    width: 60%;
}

.social-media {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 0px 40px;
}

.social-media li i:hover {
    color: rgba(128, 103, 103, 0.712);
    cursor: pointer;
}

i {
    color: #189ab4;
    margin-right: 4px;
    padding: 5px;
}

.skills {
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0.5rem;

}

.skill-name {
    font-size: 0.65rem;
    text-align: left;
    color: #189ab4;
    padding-bottom: 0.5rem;
}

.progress-bar {
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    height: 4px;
}

.right-title {
    font-size: 1.2rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 0.5rem;
    
}

.about-section p {
    padding: 8px;
}

.education-flex {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.education-flex p {
    font-size: 14px;
    color: #0316149b;
}

.experience-flex {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.experience-flex p {
    font-size: 14px;
    color: #0316149b;
}

.experience-content {
    padding: 8px;
    font-weight: 50px;
}

.project-flex {
    display: flex;
    justify-content: space-between;
    margin: 8px;
}

.project-content {
    font-size: 15px;
    margin-right: 46px;
}

@media screen and (max-width: 673px) {
    /* .right-section {
        width: 100%;
    }

    .left-content {
        padding: 2.5rem;
    }

    .description {
        font-size: 0.8rem;
    }

    .social-media {
        margin: 0 9rem;
    } */
    .main-content {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        min-height: 1000px;
    }

    /* .personal-details {
        padding: 0.5rem 2rem;
    }

    .skills {
        padding: 16px 35px;
    }

    .right-main-content {
        padding-top: 25px;
        padding-bottom: 25px;
    } */
}
